<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>MindBridge Ai vs Shopify folding@home</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
</head>

<body>
  <center>
    <div class="container" width="600" height="400">
      <canvas id="chart"></canvas>
    </div>

    <script>
      var ctx = document.getElementById("chart").getContext("2d");

      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          datasets: [{
            fill: false,
            label: 'Shopify',
            data: [{{data_points['Shopify'] | safe}}],
            borderColor: '#95bf46',
            borderWidth: 3
          },
          {
            fill: false,
            label: 'MindBridge Ai',
            data: [{{data_points['MindBridge Ai'] | safe}}],
            borderColor: '#32a0ff',
            borderWidth: 3
          }]
        },
        options: {
          scales: {
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: 'UTC'
              },
              type: 'time',
              time: {
                unit: 'day'
              }
            }],
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: 'Folding@home credits'
              }
            }]
          }
        }
      });

    </script>
  </center>
  
  <p align="left">
    <b>Dashboards:</b> <a href="https://stats.foldingathome.org/team/261552">MindBridge Ai</a> - <a href="https://stats.foldingathome.org/team/247736">Shopify</a>
  </p>
  <p align="left">
    <b>About Folding@home</b><br>
    <a href="https://foldingathome.org/covid19/">Covid-19 response</a><br>
    <a href="https://foldingathome.org/support/faq/installation-guides/">Installation guide</a><br>
  </p>
  
  <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Folding@home <a href="https://twitter.com/mindbridge_ai?ref_src=twsrc%5Etfw">@MindBridge_Ai</a> vs <a href="https://twitter.com/Shopify?ref_src=twsrc%5Etfw">@Shopify</a><br>Starting scores<a href="https://twitter.com/mindbridge_ai?ref_src=twsrc%5Etfw">@MindBridge_Ai</a>: 970, 394<a href="https://twitter.com/Shopify?ref_src=twsrc%5Etfw">@Shopify</a>: 14, 328, 530<br>Rules: volunteer teams at home, no company owned server, no cloud compute.<br>Current scores:<a href="https://t.co/lQg1BWuRef">https://t.co/lQg1BWuRef</a><a href="https://t.co/GzwjmX14bC">https://t.co/GzwjmX14bC</a><br>Good luck Teams! <a href="https://t.co/QE05HTLmO6">pic.twitter.com/QE05HTLmO6</a></p>&mdash; gregologynet (@Gregologynet) <a href="https://twitter.com/Gregologynet/status/1249851688913158151?ref_src=twsrc%5Etfw">April 14, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  <p align="left">
    <a href="https://github.com/gregology/FaH_stats_page">Fork or contribute</a>
  </p>
  
</body>
</html>