<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>MindBridge Ai vs Shopify folding@home</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
</head>

<body>
  <center>
    <div class="container" width="600" height="400">
      <canvas id="examChart"></canvas>
    </div>

    <script>
      var ctx = document.getElementById("examChart").getContext("2d");

      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          datasets: [{
            fill: false,
            label: 'Shopify',
            data: [{{data_points['Shopify'] | safe}}],
            borderColor: [
              '#95bf46'
            ],
            borderWidth: 3
          },
          {
            fill: false,
            label: 'MindBridge Ai',
            data: [{{data_points['MindBridge Ai'] | safe}}],
            borderColor: [
              '#32a0ff'
            ],
            borderWidth: 3
          }]
        },
        options: {
          scales: {
            xAxes: [{
              type: 'time'
            }]
          }
        }
      });

    </script>
  </center>
  <p align="right"><a href="https://github.com/gregology/FaH_stats_page">Fork or contribute</a></p>
  
</body>
</html>