<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>MindBridge Ai vs Shopify folding@home</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
</head>

<body>
  <center>
    <div class="container">
      <canvas id="chart"></canvas>
    </div>

    <div class="container">
      <canvas id="shopifyLead"></canvas>
    </div>

    <script>
      var ctx = document.getElementById("chart").getContext("2d");

      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          datasets: [{
            fill: false,
            label: 'Shopify',
            data: [
              {% for timestamp, credits in data['Shopify'] %}
                {
                  t: new Date('{{timestamp}}'),
                  y: {{credits}}
                },
              {% endfor %}
            ],
            borderColor: '#95bf46',
            borderWidth: 3
          },
          {
            fill: false,
            label: 'MindBridge Ai',
            data: [
              {% for timestamp, credits in data['MindBridge Ai'] %}
                {
                  t: new Date('{{timestamp}}'),
                  y: {{credits}}
                },
              {% endfor %}
            ],
            borderColor: '#32a0ff',
            borderWidth: 3
          }]
        },
        options: {
          elements: {
            point: {
              radius: 0
            }
          },
          scales: {
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: 'UTC'
              },
              type: 'time',
              time: {
                unit: 'day'
              }
            }],
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: 'Folding@home credits'
              }
            }]
          }
        }
      });

      // const colours = data.map((value) => value < 0 ? '#95bf46' : '#32a0ff');

      const data = {{diff_data}};

      var ctx2 = document.getElementById("shopifyLead").getContext("2d");

      var shopifyLeadChart = new Chart(ctx2, {
        type: 'line',
        data: {
          datasets: [{
            data: [
            {% for timestamp, credits in shopify_lead %}
              {
                t: new Date('{{timestamp}}'),
                y: {{credits}}
              },
            {% endfor %}
            ],
            borderWidth: 0,
            borderColor: '#888',
          }]
        },
        plugins: [{
          beforeRender: function (x, options) {
            var c = x.chart
            var dataset = x.data.datasets[0];
            var yScale = x.scales['y-axis-0'];
            var yPos = yScale.getPixelForValue(0);

            var gradientFill = c.ctx.createLinearGradient(0, 0, 0, c.height);
            gradientFill.addColorStop(0, '#95bf46');
            gradientFill.addColorStop(yPos / c.height - 0.01, '#95bf46');
            gradientFill.addColorStop(yPos / c.height + 0.01, '#32a0ff');
            gradientFill.addColorStop(1, '#32a0ff');

            var model = x.data.datasets[0]._meta[Object.keys(dataset._meta)[0]].dataset._model;
            model.backgroundColor = gradientFill;
          }
        }],
        options: {
          maintainAspectRatio: false,
          legend: {
            display: false
          },
          elements: {
            point: {
              radius: 0
            }
          },
          scales: {
            xAxes: [{
              scaleLabel: {
                display: true,
                labelString: 'UTC'
              },
              type: 'time',
              time: {
                unit: 'day'
              }
            }],
            yAxes: [{
              scaleLabel: {
                display: true,
                labelString: 'Shopify Lead'
              }
            }]
          }
        }
      });


    </script>
  </center>
  
  <p align="left">
    <b>Dashboards:</b> <a href="https://stats.foldingathome.org/team/261552">MindBridge Ai</a> - <a href="https://stats.foldingathome.org/team/247736">Shopify</a><br>
    <b>Rules:</b> volunteer teams at home, no company owned server, no cloud compute.
  </p>
  <p align="left">
    <b>About Folding@home</b><br>
    <a href="https://foldingathome.org/covid19/">Covid-19 response</a><br>
    <a href="https://foldingathome.org/support/faq/installation-guides/">Installation guide</a><br>
  </p>

  <p align="right">
    <a href="https://github.com/gregology/FaH_stats_page">Fork or contribute</a>
  </p>
  
</body>
</html>